h1 {
    color: brown;
}
img{
    height: 400px;
}
#thirDiv{
    background-color: aqua;
    height: 850px;
    width: 700px;

     height : 500px;
     width : 600px;
     padding: 50px;
    border: 10rem;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}